.heading {
    margin-top: 150px;
    color: red;
    text-align: center;
    font-size: 75px;
}

.timer-box {
    border: 15px black solid;
    padding-top: 15px;
    margin: 50px;
    width: 600px;
    height: 150px;
    font-style: italic;
    font-size: 50px;
    text-align: center;
}

/*.timer {*/
/*    font-style: italic;*/
/*    font-size: 50px;*/
/*    text-align: center;*/
/*}*/

.start-button-display {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    length: 25%;

}



#img-as-background img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.40;
    background-position: center;
}


.hide-button {
    visibility: hidden;
}

.question-style {
    font-family: "Tahoma";
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding-top: 25px;
}

.answer-style {
    font-family: "Tahoma";
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding-top: 25px;
    text-align: center;

}

.answer-border:hover {
    width: 25%;
    height: 15%;
    /*border: 0px black solid;*/
    background: pink;
}

